<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Project Independance " configfailurepolicy="continue">
	<test name="Progress Note :">

		<classes>
			<class
				name="Maven_Cucumber.mcucumber.testrunner" />
		</classes>
	</test>
</suite>
		
